@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes wave {
    0% {
        transform: translateX(0) rotate(0deg);
    }
     /* 25% {
        transform: translateX(10px) rotate(1deg);
    } */
     50% { 
        transform: translateX(0) rotate(0deg);
    } 
    75% {
        transform: translateX(-10px) rotate(-1deg);
    }
    100% {
        transform: translateX(0) rotate(0deg);
    }
}

.login-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #C9DAE6;
    padding: 0 50px;
    animation: fadeIn 1s ease-in-out;
}

.logcontainer {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    width: 450px;
    background: #C9DAE6;
    padding-bottom: 50px;
    align-items: center;
    animation: slideIn 1s ease-in-out;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 100%;
    margin-top: 25px;
}

.text {
    color: #284fa8;
    font-size: 44px;
    font-weight: 700;
    animation: fadeIn 1.5s ease-in-out;
}

.underline {
    width: 61px;
    height: 6px;
    background: #284fa8;
    border-radius: 9px;
    animation: fadeIn 2s ease-in-out;
}

.inputs {
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 350px;
    height: 50px;
    border: 1px solid #f1f1f1;
    background: #f6f4f4;
    border-radius: 6px;
    animation: fadeIn 1.5s ease-in-out;
}

.input img {
    margin: 0px 30px;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    font-size: 15px;
    color: #797979;
    outline: none;
}

.forgot-password {
    padding-left: 15px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
    animation: fadeIn 2s ease-in-out;
}

.forgot-password span {
    color: #284fa8;
    cursor: pointer;
    transition: color 0.3s;
}

.forgot-password span:hover {
    color: #1b3a7d;
}

.submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    animation: fadeIn 2s ease-in-out;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #284fa8;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.3s;
}

.submit:hover {
    background: #1b3a7d;
}

.gray {
    background: #284fa8;
    color: #ffffff;
}

#connect {
    width: 500px;
    height: auto;
    margin-left: 200px;
    animation: fadeIn 2s ease-in-out;
}

#vector1 {
    position: absolute;
    top: 200px;
    left: 0px;
    max-width: 100%;
    height: auto;
    animation: wave 2s infinite ease-in-out;
}
